
body {
<<<<<<< HEAD
  background-color: $body-background-color;
  color:$font-color-default;
=======
  background-color: $website-background-color;
  color:#333
>>>>>>> b8005be5e9c1c7f5960a966088fd1fc76e89e18e
}

h1 {
  font-size:1.8em;
  font-family: $font-family-sans;
  font-weight: $font-weight-regular;
}

h2{
  font-size: 1.4em;
  font-weight: $font-weight-bold;
}

p{
  font-size: 1.1em;
  font-family: $font-family-sans;
  font-weight: $font-weight-regular;
  line-height: 1.32em;
  padding-top: 0.5em;
  width: 36em;
  letter-spacing: 0.05em;
}

.container{

}
.serif-text {
  font-family: $font-family-serif;
}

.sans-text {
  font-family: $font-family-sans;
}

.light-text {
  font-weight: 300;
}

.extra-light-text {
  font-weight: 100;
}

.bold-text {
  font-weight: 700;
}

.nav-container {
  background-color: $secondary-color;
  color:#fff;
  list-style-type: none;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  float: left;
  width: 250px;
  padding:30px 0px 0px 30px;
  /*box-shadow: 4px 0px 8px rgba(70,70,70, 0.3);*/
  & ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width:100%;
    margin-top:10px;
    & li {
      display: block;
      padding: 0px; 
      margin: 0px;
      & a {
        padding: 8px;
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        text-decoration: none;
      }
      & a:hover {
        text-decoration: underline;
        background-color: rgba(250, 250, 250, 0.3);
      }
      & a:active {
        border: #ff0 2px solid;
        padding: 6px;
      }
    }
  }
}
